[Service]
Type=simple
ExecStart=python3 ServerWrapper.py
ExecStop=python3 closeServer.py
WorkingDirectory=/home/byumc/ServerUtils/ServerScripts
User=byumc
Restart=always

[Install]
WantedBy=multi-user.target
