[Service]
Type=simple
ExecStart=python3 ServerWrapper.py
ExecStop=python3 closeServer.py
WorkingDirectory=<Server Directory>
User=byumc
Restart=always

[Install]
WantedBy=multi-user.target
